* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
                              /*?==== HOME ==== */
header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;

}

.logo {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    color: white;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
    transition: all 0.67s;
}
.logo:hover{
    border-bottom: 2px solid white;
}
.navlist {
    display: flex;

}

.navlist a {
    margin-left: 60px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.67s;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 32px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0% 19%;

}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;

}

.hero-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img {
    width: 430px;
    opacity: .4;
    transition: 2s;
   
}
.hero-img img:hover {
    opacity: 4;
     border: 0.2px gray solid;  /* xatoca hast */
}
.ctaa{
    margin-left: 13px;
}
.hero-text button {
    display: inline-block;
    color: white;
    background: #000;
    border: 1px solid white;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
}

.hero-text button:hover {
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.ctaa i {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 2px;
}

.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons a {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all 0.50s ease;
}

.icons a:hover {
    color: #8e8b8b;
    transform: translateY(-5px);
}

.scrooll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scrooll-down a {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: black;
    background: #fff;
    border-radius: 30px;
    transition: all 0.50s ease;
}

.scrooll-down a:hover {
    transform: translateY(-5px);
}

                            /*?==== HOME END  ==== */

                           /*?==== ABOUT ====*/

.box-1{
    max-width: 1400px;
    margin: auto;
    background-color: red;
    display: flex;
}
.left_hero > img{
    max-width: 500px;
}



                           /*?==== ABOUT END====*/
